<div fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex="1 0 auto">
    <div class="socials" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">
      <a class="socials-link" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//color.a3.kyiv.ua">
        <mat-icon svgIcon="fb"></mat-icon>
        <span>Зарепостить</span>  
      </a>
      <a class="socials-link" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fcolor.a3.kyiv.ua%2F&text=%D0%9A%D0%BE%D0%BD%D1%82%D1%80%D0%B0%D1%81%D1%82%20%D0%BA%D0%BE%D0%BB%D1%8C%D0%BE%D1%80%D1%96%D0%B2%20%CE%B2%3A&via=agentyzmin">
        <mat-icon svgIcon="tw"></mat-icon>
        <span>Затвитить</span>  
      </a>
      <a class="socials-link" href="https://telegram.me/share/url?url=http%3A%2F%2Fcolor.a3.kyiv.ua%2F">
        <mat-icon svgIcon="tg"></mat-icon>
        <span>Переслать</span>  
      </a>
    </div>
  </div>
  <div fxFlex="0 1 auto">
    <div class="dev" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">
      <a class="dev-link" href="https://github.com/agentyzmin/color-contrast">
        <mat-icon svgIcon="github"></mat-icon>
        <span>Github</span>
      </a>
      <a class="dev-link" href="mailto:color@a3.kyiv.ua">
        <mat-icon svgIcon="mail"></mat-icon>
        <span>color@a3.kyiv.ua</span>
      </a>
    </div>
  </div>
</div>