:host {
  display: block;
  height: 100%;
}

.container {
  background: #F9F9F9;
  position: absolute;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
}