.container {
  background: #F9F9F9;
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.content {
  width: auto;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
