.preview {
  display: flex;
  height: 170px;
  align-items: center;
  font-size: 70px;
  justify-content: center;
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 10px;
  font-size: 16px;
  color: #373A3C;
  letter-spacing: 0;
  text-align: left;
  line-height: 1.35rem;
}

.contrast {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contrast-percentage {
  font-size: 22px;
  font-weight: 700;
  color: #373A3C;
  letter-spacing: 0;
  margin-right: 5px;
}

.closest-color-box {
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 5px;
  border-radius: 0.25rem;
  border: 1px solid hsl(0, 0%, 80%);
}

.closest-caption {
  font-size: 16px;
  font-weight: 700;
  color: #373A3C;
  letter-spacing: 0;
  text-align: left;
  line-height: 24px;
}

.closest-title {
  font-size: 14px;
  margin-bottom: 10px;
}