<ng-container *ngIf="(colorText && colorText.hex) && (colorBackground && colorBackground.hex)">
  <div class="preview" [ngStyle]="{'color': colorText.hex, 'background-color': colorBackground.hex}">Текст</div>
</ng-container>

<div class="contrast">
  <span class="contrast-percentage">Контраст {{colorContrastDiff}}%</span>
  <mat-icon [svgIcon]="colorContrastDiff > 70 ? 'smile' : 'sad'"></mat-icon>
</div>

<div class="comment">
  Для кращої розпізнаваності зробіть контраст між тлом та текстом не менше 70%
</div>


<div class="closest-caption">
  Найближчі контрастні кольори
</div>
<div fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex="calc(50% - 20px)">
    <div class="closest-title">Текст</div>
    <div class="closest-color-box" *ngFor="let color of closetsForColorText" (click)="changeSelectedTextColor(color)">
      <app-color-box-preview [colorCode]="color.code" [colorHex]="color.hex"></app-color-box-preview>
    </div>
  </div>
  
   <div fxFlex="calc(50% - 20px)">
      <div class="closest-title">Тло</div>
    <div class="closest-color-box" *ngFor="let color of closetsForColorBackground" (click)="changeSelectedBackgroundColor(color)">
      <app-color-box-preview [colorCode]="color.code" [colorHex]="color.hex"></app-color-box-preview>
    </div>
  </div>
</div>