<ng-container *ngIf="(colorText && colorText.hex) && (colorBackground && colorBackground.hex)">
  <div class="preview" [ngStyle]="{'color': colorText.hex, 'background-color': colorBackground.hex}">Текст</div>
</ng-container>

<div class="contrast">
  <span class="contrast-percentage">Контраст {{colorContrastDiff}}</span>
  <mat-icon [svgIcon]="colorContrastDiff > 70 ? 'smile' : 'sad'"></mat-icon>
</div>

<div class="comment">
  Для кращої розпізнаваності зробіть контраст між тлом та текстом не менше 70%
</div>

<div fxLayout="row wrap" fxLayoutGap="20px">
  <mat-list fxFlex="calc(50% - 20px)">
    <mat-list-item *ngFor="let color of closetsForColorText">
      <app-color-box-preview [colorCode]="color.code" [colorHex]="color.hex"></app-color-box-preview>
    </mat-list-item>
   </mat-list>
  
   <mat-list fxFlex="calc(50% - 20px)">
    <mat-list-item *ngFor="let color of closetsForColorBackground">
      <app-color-box-preview [colorCode]="color.code" [colorHex]="color.hex"></app-color-box-preview>
    </mat-list-item>
   </mat-list>
</div>